.store-items-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 150px;
  }
  .store-items-container h2{
    color: rgba(218, 14, 14, 0.795);
    font-size: 34px;
  }
  .add-item-form {
    flex: 1;
    margin-right: 20px;
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-item-form input {
    display: block;
    margin: 9px 10;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .add-item-form button {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .add-item-form button:hover {
    background-color: #45a049;
  }
  
  .store-items-info {
    flex: 1;
    text-align: right;
    padding-right: 95px;
   background-color: white;
  }
  
  .store-items-info h2 {
    text-align: right;
    margin-bottom: 25px;
    padding: 40px;
    color: rgba(148, 56, 56, 0.856);
    font-size: 20px;
    
  }
  
  .store-item {
    padding-top: 25px;
    color: #02ad0bf3;
    font-size: 18px;
    text-align: left;
    padding-top: 10px;
    
  }
  
